@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-pitch: hsl(223, 50%, 9%);
  --color-midnight: #151e36;
  --color-sky: #00a6f4;
}
.btn-secondary {
  @apply px-4 py-1.5 rounded-lg text-sm font-medium border
         border-slate-300 dark:border-slate-600
         text-slate-500 dark:text-slate-400
         hover:border-sky hover:text-sky;
}

.btn-secondary-cancel {
  @apply px-4 py-1.5 rounded-lg text-sm font-medium border
         border-slate-300 dark:border-slate-600
         text-slate-500 dark:text-slate-400
         hover:border-red-600 hover:text-red-600;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}
